.wrap .screenRight .css-17led8x {
  display: flex;
  justify-content: center;
}
.wrap .screenRight .bottom .block .card {
  width: 300px;
  height: 350px;
  margin: 30px 0;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
.wrap .screenRight .bottom .block .card .textBg {
  opacity: 0;
  transition: 0.4s;
  width: 100%;
  padding: 18% 4%;
  border-radius: 20px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.737254902);
  color: #fff;
  font-family: "Kavoon", cursive;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.wrap .screenRight .bottom .block .card .textBg .mainP {
  font-size: 25px;
  text-align: left;
  width: 100%;
}
.wrap .screenRight .bottom .block .card .textBg #drink_item {
  text-align: center;
}
.wrap .screenRight .bottom .block .card .textBg p {
  font-size: 20px;
}
.wrap .screenRight .bottom .block .card .textBg p .greenText {
  color: #B5FF7B;
}
.wrap .screenRight .bottom .block .card .textBg .addBtn {
  width: 170px;
  height: 60px;
  cursor: pointer;
  background-color: #397300;
  color: #B5FF7B;
  border-radius: 5px;
  border: none;
  font-family: "Kavoon", cursive;
  font-size: 18px;
  margin-top: 30px;
}
.wrap .screenRight .bottom #cardJSX .card:hover .textBg {
  opacity: 1;
}
.wrap .screenRight .bottom .cardPopup {
  width: 100%;
  height: 100vh;
}
.wrap .screenRight .bottom .cardPopup .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  width: 1000px;
  height: 80vh;
  max-width: 100% !important;
  background: linear-gradient(135deg, #343434 0%, #666 100%);
  border-radius: 22px;
  color: #B5FF7B;
  font-family: "Kavoon", cursive !important;
}
.wrap .screenRight .bottom .cardPopup .css-1t1j96h-MuiPaper-root-MuiDialog-paper h2 {
  font-family: "Kavoon", cursive !important;
  color: #fff;
}
.wrap .screenRight .bottom .cardPopup .css-1t1j96h-MuiPaper-root-MuiDialog-paper .css-ypiqx9-MuiDialogContent-root {
  display: flex;
  flex-direction: row;
  padding: 0;
  padding-top: 30px;
}
.wrap .screenRight .bottom .cardPopup .css-1t1j96h-MuiPaper-root-MuiDialog-paper .css-ypiqx9-MuiDialogContent-root .left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.wrap .screenRight .bottom .cardPopup .css-1t1j96h-MuiPaper-root-MuiDialog-paper .css-ypiqx9-MuiDialogContent-root .left .blockImg {
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.wrap .screenRight .bottom .cardPopup .css-1t1j96h-MuiPaper-root-MuiDialog-paper .css-ypiqx9-MuiDialogContent-root .right {
  width: 50%;
  height: 100%;
}
.wrap .screenRight .bottom .cardPopup .css-1t1j96h-MuiPaper-root-MuiDialog-paper .css-ypiqx9-MuiDialogContent-root .right .mainP {
  font-size: 35px;
}
.wrap .screenRight .bottom .cardPopup .css-1t1j96h-MuiPaper-root-MuiDialog-paper .css-ypiqx9-MuiDialogContent-root .right .count_selection {
  margin-top: 30px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
.wrap .screenRight .bottom .cardPopup .css-1t1j96h-MuiPaper-root-MuiDialog-paper .css-ypiqx9-MuiDialogContent-root .right .count_selection .cntS {
  font-size: 20px;
  color: #B5FF7B;
  font-family: "Kavoon", cursive;
}
.wrap .screenRight .bottom .cardPopup .css-1t1j96h-MuiPaper-root-MuiDialog-paper .css-ypiqx9-MuiDialogContent-root .right .count_selection .cnt-er {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  color: #fff;
}
.wrap .screenRight .bottom .cardPopup .css-1t1j96h-MuiPaper-root-MuiDialog-paper .css-ypiqx9-MuiDialogContent-root .right .count_selection .cnt-er .min,
.wrap .screenRight .bottom .cardPopup .css-1t1j96h-MuiPaper-root-MuiDialog-paper .css-ypiqx9-MuiDialogContent-root .right .count_selection .cnt-er .plus {
  width: 40px;
  height: 40px;
  background-color: #397300;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.wrap .screenRight .bottom .cardPopup .css-1t1j96h-MuiPaper-root-MuiDialog-paper .css-ypiqx9-MuiDialogContent-root .right .count_selection .cnt-er .min {
  border-radius: 5px 0 0 5px;
}
.wrap .screenRight .bottom .cardPopup .css-1t1j96h-MuiPaper-root-MuiDialog-paper .css-ypiqx9-MuiDialogContent-root .right .count_selection .cnt-er .plus {
  border-radius: 0 5px 5px 0;
}
.wrap .screenRight .bottom .cardPopup .css-1t1j96h-MuiPaper-root-MuiDialog-paper .css-ypiqx9-MuiDialogContent-root .right .count_selection .cnt-er .count {
  height: 40px;
  width: 60px;
  font-size: 17px;
  background-color: #397300;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}
.wrap .screenRight .bottom .cardPopup .css-1t1j96h-MuiPaper-root-MuiDialog-paper .css-ypiqx9-MuiDialogContent-root .right .size {
  margin-top: 30px;
}
.wrap .screenRight .bottom .cardPopup .css-1t1j96h-MuiPaper-root-MuiDialog-paper .css-ypiqx9-MuiDialogContent-root .right .size .yes {
  display: flex;
  font-size: 20px;
  flex-direction: column;
}
.wrap .screenRight .bottom .cardPopup .css-1t1j96h-MuiPaper-root-MuiDialog-paper .css-ypiqx9-MuiDialogContent-root .right .size .yes .formControll {
  margin-top: 10px;
  background-color: #397300;
  width: 300px;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
}
.wrap .screenRight .bottom .cardPopup .css-1t1j96h-MuiPaper-root-MuiDialog-paper .css-ypiqx9-MuiDialogContent-root .right .size .yes .formControll .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
.wrap .screenRight .bottom .cardPopup .css-1t1j96h-MuiPaper-root-MuiDialog-paper .css-ypiqx9-MuiDialogContent-root .right .size .yes .formControll .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
.wrap .screenRight .bottom .cardPopup .css-1t1j96h-MuiPaper-root-MuiDialog-paper .css-ypiqx9-MuiDialogContent-root .right .size .yes .formControll .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: none !important;
}
.wrap .screenRight .bottom .cardPopup .css-1t1j96h-MuiPaper-root-MuiDialog-paper .css-ypiqx9-MuiDialogContent-root .right .size .yes .formControll .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  color: #fff;
}
.wrap .screenRight .bottom .cardPopup .css-1t1j96h-MuiPaper-root-MuiDialog-paper .css-ypiqx9-MuiDialogContent-root .right .price {
  font-size: 30px;
  margin-top: 30px;
}
.wrap .screenRight .bottom .cardPopup .css-1t1j96h-MuiPaper-root-MuiDialog-paper .css-ypiqx9-MuiDialogContent-root .right .buyBtn {
  height: 50px;
  width: 200px;
  border: none;
  border-radius: 10px;
  background-color: #397300;
  color: #B5FF7B;
  font-family: "Kavoon", cursive;
  font-size: 20px;
  margin-top: 30px;
}

.css-uhb5lp {
  width: 100%;
  height: 80vh;
  background-color: #a4a4a4;
  font-family: "Kavoon", cursive;
}
.css-uhb5lp .css-ohyacs {
  color: #fff;
}
.css-uhb5lp .css-1ty026z {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
}
.css-uhb5lp .css-1ty026z .left {
  width: 50%;
  height: 100%;
}
.css-uhb5lp .css-1ty026z .left .blockImg {
  width: 80%;
  height: 50%;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.css-uhb5lp .css-1ty026z .right {
  width: 50%;
  height: 100%;
}
.css-uhb5lp .css-1ty026z .right .mainP {
  font-size: 35px;
}
.css-uhb5lp .css-1ty026z .right .count_selection {
  margin-top: 30px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
.css-uhb5lp .css-1ty026z .right .count_selection .cntS {
  font-size: 20px;
  color: #B5FF7B;
  font-family: "Kavoon", cursive;
}
.css-uhb5lp .css-1ty026z .right .count_selection .cnt-er {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  color: #fff;
}
.css-uhb5lp .css-1ty026z .right .count_selection .cnt-er .min,
.css-uhb5lp .css-1ty026z .right .count_selection .cnt-er .plus {
  width: 40px;
  height: 40px;
  background-color: #397300;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.css-uhb5lp .css-1ty026z .right .count_selection .cnt-er .min {
  border-radius: 5px 0 0 5px;
}
.css-uhb5lp .css-1ty026z .right .count_selection .cnt-er .plus {
  border-radius: 0 5px 5px 0;
}
.css-uhb5lp .css-1ty026z .right .count_selection .cnt-er .count {
  height: 40px;
  width: 60px;
  font-size: 17px;
  background-color: #397300;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}
.css-uhb5lp .css-1ty026z .right .size {
  margin-top: 30px;
}
.css-uhb5lp .css-1ty026z .right .size .yes {
  display: flex;
  font-size: 20px;
  flex-direction: column;
}
.css-uhb5lp .css-1ty026z .right .size .yes .formControll {
  margin-top: 10px;
  background-color: #397300;
  width: 300px;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
}
.css-uhb5lp .css-1ty026z .right .size .yes .formControll .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
.css-uhb5lp .css-1ty026z .right .size .yes .formControll .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
.css-uhb5lp .css-1ty026z .right .size .yes .formControll .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: none !important;
}
.css-uhb5lp .css-1ty026z .right .size .yes .formControll .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  color: #fff;
}
.css-uhb5lp .css-1ty026z .right .price {
  font-size: 30px;
  margin-top: 30px;
}
.css-uhb5lp .css-1ty026z .right .buyBtn {
  height: 50px;
  width: 200px;
  border: none;
  border-radius: 10px;
  background-color: #397300;
  color: #B5FF7B;
  font-family: "Kavoon", cursive;
  font-size: 20px;
  margin-top: 30px;
}

/*# sourceMappingURL=Card.css.map */
