.text_up{
    font-size: 60px;
    font-family: 'Kavoon', cursive;
    color: #72D25A;
}

.screenRight{
    padding: 30px 50px;
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    .bottom{
        .css-phooid-MuiGrid2-root{
            display: flex;
            justify-content: center;
        }
    }
}