@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');
/* font-family: 'Kavoon', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* font-family: 'Montserrat', sans-serif; */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap{
  background-color: #333;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

#homepage{
  font-family: 'Kavoon', cursive;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.special{
  color: #fff;
  font-size: 30px;
  text-align: center;
  width: 80%;
}

.warn{
  color: #ffc65b;
}

@media screen and (max-width: 384px) {
  .special{
    font-size: 20px;
  }
}